*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000029;
}

.poke{
    text-align: center;
    margin-top: 300px;
   
}

.but{
    border: none;
    background-color: #000029;
}

button{
    border: none;
  
}

